{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">so many package managers</h1>
      <h4><span class="badge text-bg-info">{{pmcount}} and counting</span></h4>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Organized into a landscape to keep track of them all. Browse by category of package manager along with the ecosystem it supports.</p>
      </div>
    </div>
</div>
<div class="row">
{% for category in landscape %}
  <div id="{{category}}">
      {% for ecosystem in landscape[category] %}
          <div class="border-bottom">
            {{ ecosystem }}
          </div>
          <div class="row highlight">
              {% for pms in landscape[category][ecosystem] %}
              <div class="card text-bg-light m-2 p-0" style="max-width: 8rem;">
                  <div class="card-header">{{ pms.name }}</div>
                  <div class="card-body">
                    <p class="card-text float-end">
                      {% if pms.homepage_url %}
                      <a href="{{pms.homepage_url}}"><img src="{{ url_for('static', filename='img/house-door.svg') }}" alt="House Door Icon" width="16" height="16"></a>
                      {% endif %}
                      {% if pms.repo_url %}
                      <a href="{{pms.repo_url}}"><img src="{{ url_for('static', filename='img/code-square.svg') }}" alt="Code Square Icon" width="16" height="16"></a>
                      {% endif %}
                      </p>
                  </div>
              </div>
              {% endfor %}
          </div>
      {% endfor %}
  </div>
{% endfor %}
</div>
{% endblock %}