<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Package Manager Landscape</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand icon-link" href="#"><img src="{{ url_for('static', filename='img/box-seam.svg') }}" alt="Box Seam Icon" width="32" height="32">Package Manager Landscape</a>
          <!-- <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contribute</a>
            </li>
          </ul> -->
        </div>
    </nav>
    <div class="container">
    <div class="row">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">so many package managers</h1>
            <h4><span class="badge text-bg-info">{{pmcount}} and counting</span></h4>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Organized into a landscape to keep track of them all. Browse by category of package manager along with the ecosystem it supports. And see one that we missed? It's easy to <a href="https://github.com/davelester/package-manager-landscape/blob/main/CONTRIBUTING.md">contribute</a> changes back.</p>
            </div>
          </div>
    </div>
    <div class="row">
    {% for category in landscape %}
        <div id="{{category}}">
            {% for ecosystem in landscape[category] %}
                <div class="border-bottom">
                  {{ ecosystem }}
                </div>
                <div class="row highlight">
                    {% for pms in landscape[category][ecosystem] %}
                    <div class="card text-bg-light m-2 p-0" style="max-width: 8rem;">
                        <div class="card-header">{{ pms.name }}</div>
                        <div class="card-body">
                          <p class="card-text float-end">
                            {% if pms.homepage_url %}
                            <a href="{{pms.homepage_url}}"><img src="{{ url_for('static', filename='img/house-door.svg') }}" alt="House Door Icon" width="16" height="16"></a>
                            {% endif %}
                            {% if pms.repo_url %}
                            <a href="{{pms.repo_url}}"><img src="{{ url_for('static', filename='img/code-square.svg') }}" alt="Code Square Icon" width="16" height="16"></a>
                            {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </div>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 Dave Lester. Released under Apache v2 License. Kudos to the <a href="https://landscape.cncf.io">CNCF Landscape</a> for inspiration. Web UI is powered by <a href="http://getbootstrap.com">Bootstrap</a>.</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="{{ url_for('static', filename='img/box-seam.svg') }}" alt="Box Seam Icon" width="32" height="32">
        </a>
    
        <!-- <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contribute</a></li>
        </ul> -->
      </footer>
</div>
</body>
</html>