<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Package Manager Landscape</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand icon-link" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/box-seam.svg') }}" alt="Box Seam Icon" width="32" height="32">Package Manager Landscape</a>
          <ul class="navbar-nav nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contribute') }}">Contribute</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </div>
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 Dave Lester. Released under Apache v2 License. Kudos to the <a href="https://landscape.cncf.io">CNCF Landscape</a> for inspiration. Web UI is powered by <a href="http://getbootstrap.com">Bootstrap</a>.</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="{{ url_for('static', filename='img/box-seam.svg') }}" alt="Box Seam Icon" width="32" height="32">
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="{{ url_for('contribute') }}" class="nav-link px-2 text-body-secondary">Contribute</a></li>
        </ul>
      </footer>
</div>
</body>
</html>